torch
torch_vision
awkward
einops
h5py
hdf5plugin
pandas
scipy
torch-cluster
torch_geometric
torch_scatter
torch_sparse
vector
wandb
zenodo_get
scikit-learn
lion_pytorch
torch_ema
torchmetrics
pytorch_lightning
mixture_of_experts